__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data files (often too large for Git)
*.csv
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.geojson
*.img
*.xlsx

# Allow the final result data to be pushed for the web frontend
!cafli-web/cafli_model_result.geojson
